APP_PORT=8000

POSTGRES_DB=shifrator
POSTGRES_USER=shifrator
POSTGRES_PASSWORD=shifrator

BOT_TOKEN=123456:replace-with-real-token
WEBHOOK_BASE_URL=https://example.com
TELEGRAM_WEBHOOK_SECRET=replace-with-random-secret
PAYMENT_PROVIDER_TOKEN=replace-with-payment-token

DEBUG=true
XRAY_GATEWAY=grpc
XRAY_API_ADDRESS=amnezia-xray:10085
XRAY_DEFAULT_INBOUND_TAG=vless-reality
XRAY_HOST=sansly.ru
XRAY_PORT=4646
XRAY_PUBLIC_KEY=XeoxeDNDFBLfLWK7pao5bXwnvVtrJaMVQCT7NhS7eCU
XRAY_SHORT_ID=daa9ad37f0f1ac27
XRAY_SNI=dl.google.com
XRAY_FLOW=xtls-rprx-vision
